@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.App {
  background: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* color: #fff; */
}

* {
  box-sizing: border-box;
}
body {
  /* background-color: #302c27; */
  font-family: "Merriweather", serif;
  color: #1e8db9;
}

h1 {
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 30px;
}
.signup-container {
  display: grid;
  min-width: 500px;
  min-height: 500px;
  position: relative;
  padding-left: 20px;
  /* font-size: 1rem; */
}

form {
  color: #000;
  background: #e4e0be;
  border-radius: 30px;
  padding: 30px;
  min-width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form p {
  color: #000;
  margin-top: 2px;
  margin-bottom: 10px;
  padding-left: 18px;
  /* font-size: 1rem; */
  width: 100%;
}

input[type="submit"] {
  color: #fff;
  background: #946e50;
  /* font-size: 1rem; */
  width: 30%;
}

input[type="text"],
input[type="email"] {
  background-color: #fff;
  /* font-size: 1rem; */
  width: 95%;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  /* border: none; */
  border-radius: 10px;
  margin: 8px;
  outline: none;
  padding: 18px;
  /* width: 95%; */
  transition: 0.5s ease all;
  font-family: "Merriweather", serif;
}

.diff-component {
  /* font-size: 1rem; */
  color: #fff;
}

.step-links {
  margin-bottom: 35px;
  position: relative;
  padding-left: 10px;
}

/* draw links */
.step-links:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background: #ff9505;
  top: 43px;
  left: -10%;
  width: 120%;
}

.step-links a {
  display: inline-block;
  /* font-size: 1rem; */
  padding: 8px 10px;
  margin-right: 10px;
  font-family: "Merriweather", serif;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: #b7a7bb;
}

.step-links a:hover {
  color: #806a77;
}

.step-links .active {
  color: #0b0e0c;
}

.step-links .active span {
  background: #f5b326;
}

input[type="radio"] {
  position: relative;
  cursor: pointer;
  margin-right: 40px;
  align-items: right;
  background-color: #000;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  margin-right: 40px;
  align-items: right;
  background-color: #000;
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: -5px;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: #fff;
}

input[type="checkbox"]:checked:after {
  content: "";
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0px 2px 0px 2px;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

label {
  display: flex;
  text-align: left;
  margin: 10px;
}

/* For Subscription */
.subscription-container,
.programs-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  place-items: center;
}

.packlabel {
  position: relative;
  margin: 10px;
}

.monthly-pack,
.programsdiv {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  /* border: 1px solid #42423f; */
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  .App {
    font-size: 0.8rem;
    text-align: left;
    /* color: #fff; */
  }
  input[type="text"],
  input[type="email"],
  input[type="submit"] {
    width: 80%;
    border-radius: 5px;
    margin: 8px;
    padding: 8px;
  }
  input[type="submit"] {
    width: 30%;
  }

  input[type="radio"] {
    position: relative;
    left: 40px;
    padding-right: 12px;
    cursor: pointer;
    align-items: right;
    background-color: #000;
  }

  .signup-container {
    display: grid;
    min-width: 80px;
    min-height: 85px;
    position: relative;
    right: 40px;
    padding: 15px;
  }
  form {
    color: #000;
    background: #e4e0be;
    border-radius: 30px;
    padding: 5px;
    min-width: 80px;
    min-height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 60px;
  }

  .step-links {
    /* margin-bottom: 20px; */
    margin-bottom: 0;
    position: relative;
    bottom: 10px;
  }
  .step-links:after {
    content: "";
    display: block;
    position: relative;
    height: 2px;
    background: #ff9505;
  }

  .step-links a {
    display: inline-block;
    font-size: 0.6rem;
    padding: 0px 0px;
    margin-right: 3px;
    font-family: "Merriweather", serif;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    right: -20px;
    color: #b7a7bb;
  }
  .subscription-container,
  .programs-container {
    display: flex;
    flex-direction: column;
    max-width: 80px;
    position: relative;
    left: 60px;
    place-items: center;
  }
  h1 {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* margin-right: 20px; */
  }
}
