.App {
  background: #181a19;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: #fff; */
}

* {
  box-sizing: border-box;
}

body {
  background-color: #302c27;
  font-family: "Merriweather", serif;
  color: #b2b6b9;
}

h1 {
  font-size: 45px;
  margin-left: 30px;
}
.signup-container {
  min-width: 500px;
  min-height: 500px;
  position: relative;
  /* background-color: #eb9123; */
  padding-left: 20px;
  font-size: 18px;
}

form {
  color: #000;
  background: #eb9123;
  border-radius: 30px;
  padding: 30px;
  min-width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form p {
  color: #000;
  margin-top: 2px;
  margin-bottom: 10px;
  padding-left: 18px;
  font-size: 14px;
  width: 100%;
}

input[type="submit"] {
  color: #fff;
  background: rgb(41, 39, 39);
  font-size: 26px;
}

input[type="text"],
input[type="email"] {
  background-color: #fff;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  /* border: none; */
  border-radius: 10px;
  margin: 8px;
  outline: none;
  padding: 18px;
  width: 95%;
  transition: 0.5s ease all;
  font-family: "Merriweather", serif;
}

.diff-component {
  font-size: 30px;
  color: #fff;
}

.step-links {
  margin-bottom: 40px;
  position: relative;
  padding-left: 10px;
}

/* draw links */
.step-links:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background: #d3ec2f;
  /* z-index: 1; */
  top: 43px;
  left: -10%;
  width: 120%;
}

.step-links a {
  display: inline-block;
  font-size: 16px;
  padding: 8px 10px;
  margin-right: 10px;
  font-family: "Merriweather", serif;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: #7db491;
}

/* .step-links a.disabled {
  pointer-events: none;
} */

.step-links a:hover {
  color: #4d9869;
}

.step-links a.active {
  color: #215735;
}

.step-links a.active span {
  background: #215735;
}

/* the little circle */
.step-links a span {
  display: block;
  position: absolute;
  top: 32px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #b2dec2;
  z-index: 2;
}
