.App {
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: #fff; */
}

* {
  box-sizing: border-box;
}
body {
  /* background-color: #302c27; */
  font-family: "Merriweather", serif;
  color: #1e8db9;
}

h1 {
  font-size: 45px;
  font-family: cursive;
  margin-left: 30px;
}
.signup-container {
  min-width: 500px;
  min-height: 500px;
  position: relative;
  padding-left: 20px;
  font-size: 18px;
}

form {
  color: #000;
  background: #aad576;
  border-radius: 30px;
  padding: 30px;
  min-width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form p {
  color: #000;
  margin-top: 2px;
  margin-bottom: 10px;
  padding-left: 18px;
  font-size: 14px;
  width: 100%;
}

input[type="submit"] {
  color: #fff;
  background: #cc5803;
  font-size: 26px;
  width: 45%;
}

input[type="text"],
input[type="email"] {
  background-color: #fff;
  font-size: 16px;
  width: 95%;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  /* border: none; */
  border-radius: 10px;
  margin: 8px;
  outline: none;
  padding: 18px;
  /* width: 95%; */
  transition: 0.5s ease all;
  font-family: "Merriweather", serif;
}

.diff-component {
  font-size: 30px;
  color: #fff;
}

.step-links {
  margin-bottom: 40px;
  position: relative;
  padding-left: 10px;
}

/* draw links */
.step-links:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background: #ff9505;
  /* z-index: 1; */
  top: 43px;
  left: -10%;
  width: 120%;
}

.step-links a {
  display: inline-block;
  font-size: 16px;
  padding: 8px 10px;
  margin-right: 10px;
  font-family: "Merriweather", serif;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: #b7a7bb;
}

.step-links a:hover {
  color: #806a77;
}

.step-links .active {
  color: #0b0e0c;
}

.step-links .active span {
  background: #f5b326;
}

input[type="radio"] {
  position: relative;
  cursor: pointer;
  margin-right: 40px;
  align-items: right;
  background-color: #000;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  margin-right: 40px;
  align-items: right;
  background-color: #000;
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: -5px;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: #fff;
}

input[type="checkbox"]:checked:after {
  content: "";
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0px 2px 0px 2px;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

label {
  display: flex;
  text-align: left;
  margin: 10px;
}

/* For Subscription */
.subscription-container,
.programs-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  place-items: center;
}

.packlabel {
  position: relative;
  margin: 10px;
}

.monthly-pack,
.programsdiv {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  /* border: 1px solid #42423f; */
}
